/*общие текстовые свойства*/

body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-family: "PTSans NarrowBold", "Verdana", sans-serif;
  text-transform: uppercase;
}

.section-title {
  font-size: 30px;
  line-height: 42px;
}

.feature-heading {
  font-size: 30px;
  line-height: 42px;
  color: #f7f4f1;
}
